<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Traffic App</title>

    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" />
    <link href="../static/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="root"></div>
    <script>
const app = document.getElementById('root')

const container = document.createElement('div')
container.setAttribute('class', 'container')

// app.appendChild(logo)
app.appendChild(container)

// const fetch = require("node-fetch")
let url = 'https://api.data.gov.sg/v1/transport/traffic-images'

fetch(url)
.then(res => res.json())
.then(data => {
    var cameras = data.items[0].cameras
    cameras.forEach(entry => {
        if (entry.camera_id == 4713){
            // original image
            const card1 = document.createElement('div')
            card1.setAttribute('class','card')

            const h1_1 = document.createElement('h1')
            h1_1.textContent = entry.camera_id

            const image = document.createElement("img")
            image.src = entry.image
            
            container.appendChild(card1)
            card1.appendChild(h1_1)
            card1.appendChild(image)

            // foreground mask
            const card2 = document.createElement('div')
            card2.setAttribute('class','card')

            const h1_2 = document.createElement('h1')
            h1_2.textContent = "foreground"
            
            container.appendChild(card2)
            card2.appendChild(h1_2)
        }
    })
})
.catch(err => { throw err })
    
    </script>

    {% if output %}
    <h1>{{ output }}</h1>
    {% endif %}
  </body>
</html>